server:
  port: 8115
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:8090/eureka
spring:
  application:
    name: zuul
zuul:
  prefix: /api                                 #url前缀
  routes:
    zuuls-testclient:                          #区分多个服务的名称（只是在配置文件中区分，url无需添加）
      path: /zuuls-test/**               # ?:单个字符，**：单个字符，*：任意数量字符
#      url: http://127.0.0.1:8101/testclient   #根据地址查找服务
      service-id: TEST-FEIGN                   #根据注册中心服务名查找服务

